/* 全站共用基礎樣式 */
@media (max-width: 768px) {}

/* // @import "bootstrap/scss/bootstrap" */
:root {
  --Primary800: #304A6F;
  --Primary500: #516786;
  --Primary300: #94AFCA;
  --Primary100: #D8E2EC;
  --Secondary800: #8E7471;
  --Secondary500: #C2B2A3;
  --Secondary100: #F8F7F3;
  --Warining100: #FEECC1;
  --Warining300: #FDDB8A;
  --Warining500: #FCCA53;
  --Danger500: #F24E1E;
  --Danger300: #ECACAC;
  --Danger100: #F5D2D2;
  --Black: #101C35;
  --White: #FFFFFF;
  --card-shadow: 0 4px 5px 0 rgba(148, 175, 202, 0.25);
  /* --card-shadow: rgba(39, 74, 120, 0.4) 0px 4px 4px; */
  --highlight: var(--Primary300) 0px 0px 10px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.375rem;
}

p {
  font-size: 1rem;
  word-break: break-all !important;
  overflow-wrap: break-word !important;
}

@media (max-width:767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 0.95rem;
    margin: 0;
  }
}

body {
  background-color: var(--Secondary100);
  font-family: var(--font-noto-sans-tc), "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

/* 如果只是想純掛顏色 */
.primary800 {
  color: var(--Primary800);
}

.primary500 {
  color: var(--Primary500);
}

.primary300 {
  color: var(--Primary300);
}

.primary100 {
  color: var(--Primary100);
}

.secondary800 {
  color: var(--Secondary800);
}

.secondary500 {
  color: var(--Secondary500);
}

.secondary100 {
  color: var(--Secondary100);
}

.warining100 {
  color: var(--Warining100);
}

.warining300 {
  color: var(--Warining300);
}

.warining500 {
  color: var(--Warining500);
}

.danger500 {
  color: var(--Danger500);
}

.danger300 {
  color: var(--Danger300);
}

.danger100 {
  color: var(--Danger100);
}

.black {
  color: var(--Black);
}

.white {
  color: var(--White);
}

/*---------------header----------------*/

header {
  box-shadow: var(--card-shadow);
  position: relative;
  z-index: 100;
}

.header {

  .search-input {
    border: 2px solid var(--Primary300);
    border-radius: 10px;
    padding: 5px 12px;
    transition: border-color 0.3s ease;

    &:focus {

      box-shadow: 0 0 0 .15rem rgba(39, 74, 120, 0.3);
      outline: none;
    }
  }

  .btn {
    padding: 6px;
    line-height: 1;
  }

  .icon-search {
    width: 24px;
    height: 24px;
    color: var(--Primary800);
    padding: 0;
  }

  .icon-cart {
    width: 26px;
    height: 24px;
    color: var(--Primary800);
  }

  .link {
    font-size: 1rem;

  }

  @media (max-width: 767px) {
    .link {
      font-size: 0.95rem;
    }
  }

  .navbar {
    padding-bottom: 0;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    color: var(--Primary800);
    font-weight: 700;
  }

  .nav-link.active {
    background-color: var(--Primary300);
    color: var(--White) !important;
  }

  .user a {
    font-weight: 700;
    color: var(--Primary800);
  }

  .head {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    border: none;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .head.show {
    box-shadow: var(--highlight);
    border: none;
  }

  .dropdown-menu {
    background-color: var(--Primary100);
    border-radius: 3px;
    box-shadow: var(--highlight);
    border: none;
    margin-top: 5px;

    .user_account {
      line-height: 2;
      font-size: larger;
      font-weight: 700;
      color: var(--Primary800);
      border-bottom: 1px solid var(--Primary300);
      margin-bottom: 5px;
      padding-bottom: 8px;
    }

    .min-w-18 {
      min-width: 18px;
    }
  }

  @media (min-width: 992px) and (max-width: 1547px) {
    .dropdown-menu.dropdown-menu-lg-start {
      right: 0;
      left: auto;
    }
  }

  .dropdown-item {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, transparent, var(--Primary100), transparent);
      transition: left 0.8s;
    }

    &:hover:before {
      left: 100%;
    }
  }

  .dropdown-item:active,
  .dropdown-item:hover {
    background-color: var(--Primary300);

  }
}

/* 麵包屑 */
.breadcrumb {
  color: var(--Primary800);
  display: flex;
  align-items: center;

  .fa-house {
    margin-right: 8px;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    /* gap: 8px; */
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--Primary800);
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    margin: 0 5px;
  }
}

/* Footer區域 */

footer {
  background-color: var(--Primary300);
  color: var(--White);
  padding: 30px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 0 1 auto;
    width: auto;
    padding: 0;

    h5 {
      font-weight: 700;
    }

    a {
      color: var(--White);
      text-decoration: none;
      margin-top: 10px;
      transition: all 0.3s ease;

      &:hover {
        letter-spacing: -0.5px;
      }
    }
  }

  .copyright {
    max-width: 1440px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    align-items: start;
    border-top: var(--White) 1px solid;

    p {
      width: 100%;
      margin: 0;
    }
  }
}


/* 偷sally的loading動畫 */

/* CSS Loaders */
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #3fb8af;
  animation: l1-1 2s infinite, l1-2 0.5s infinite;
}

.loader:after {
  background: #ff3d7f;
  animation-delay: -1s, 0s;
}

@keyframes l1-1 {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 100%;
    left: 0;
  }

  50% {
    top: 100%;
    left: 100%;
  }

  75% {
    top: 0;
    left: 100%;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes l1-2 {

  80%,
  100% {
    transform: rotate(0.5turn);
  }
}


@media screen and (max-width: 768px) {
  .logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .icon-nav,
  .icon-user {
    width: 26px;
    height: 24px;
    color: var(--Primary800);

  }

  .dropdown-item {
    font-weight: 700;
    color: var(--Primary800);
  }

  .dropdown-menu-user {
    min-height: unset !important;
  }

  .dropdown-toggle:after {
    display: none;
  }

  .a-cards,
  .e-cards {
    display: flex;
    justify-content: center;


  }

  footer {
    .row {
      width: 100%;
      max-width: 1440px;
      justify-content: space-between;
      gap: 20px;
    }

    .row.mobile-hide {
      display: none !important;
    }

    .copyright {
      border-top: none;
      margin: 0;
      padding: 0;
    }
  }

}